<div class="container">
    <h1>Lista de estudiantes con un numero de celular nacional : </h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="idEstudiante">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idEstudiante}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="celular">
      <th mat-header-cell *matHeaderCellDef> Celular </th>
      <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
    </ng-container>

    <ng-container matColumnDef="correo_electronico">
      <th mat-header-cell *matHeaderCellDef> Correo Elec. </th>
      <td mat-cell *matCellDef="let element"> {{element.correo_electronico}} </td>
    </ng-container>
  

    <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> Contraseña </th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container>

      <ng-container matColumnDef="pais">
        <th mat-header-cell *matHeaderCellDef> Paises </th>
        <td mat-cell *matCellDef="let element"> {{element.pais.pais}} </td>
      </ng-container>

        <ng-container matColumnDef="identificacion">
            <th mat-header-cell *matHeaderCellDef> Identificacion </th>
            <td mat-cell *matCellDef="let element"> {{element.identificacion.tipoidentificacion}} </td>
       </ng-container>

       <ng-container matColumnDef="metodoPago">
        <th mat-header-cell *matHeaderCellDef> M. Pago </th>
        <td mat-cell *matCellDef="let element"> {{element.metodoPago.formaPago}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> T. Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo.tipoUsuario}} </td>
      </ng-container>

      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
