<div class="container">
    <mat-toolbar>
        <span> Alojamientos </span>
        <div class="example-spacer"></div>
        <!-- <button mat-raised-button color="primary" (click)="openDialog()">Añadir</button> -->
    </mat-toolbar>
    
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="filtrar($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <ng-container matColumnDef="idAnuncio">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.idAnuncio}} </td>
        </ng-container>
      
        <ng-container matColumnDef="imagen">
          <th mat-header-cell *matHeaderCellDef> Imagen</th>
          <td mat-cell *matCellDef="let element"> {{element.imagen}} </td>
        </ng-container>

        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef> Titulo</th>
          <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>
        
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
        </ng-container>
      
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="distrito">
          <th mat-header-cell *matHeaderCellDef> Distrito </th>
          <td mat-cell *matCellDef="let element"> {{element.distrito}} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef> Direccion </th>
          <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
            [routerLink]="['edicion', element.idAnuncio]">Actualizar</button>
              <button mat-raised-button color="accent" (click)="confirmar(element.idAnuncio)" >Eliminar</button>
          </td>
      </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <!-- aqui rutear -->
    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon"
    routerLink="/pagina/alojamientos/nuevo">
    <mat-icon>plus_one</mat-icon>
  </button>
    

</div>