<div class="container">
    <mat-toolbar>
        <span>Identificaciones del sistema</span>
    </mat-toolbar>

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="filtrar($event)" autocomplete="off" placeholder="Buscar" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <ng-container matColumnDef="idIdentificacion">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.idIdentificacion}} </td>
        </ng-container>
      
        <ng-container matColumnDef="tipoidentificacion">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoidentificacion}} </td>
        </ng-container>
      
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
              [routerLink]="['edicion', element.idIdentificacion]">Actualizar </button>
              <button mat-raised-button color="accent" (click)="confirmar(element.idIdentificacion)">Eliminar</button>
            </td>

          </ng-container>
          
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon"
    routerLink="/administrador/identificacion/nuevo">
    <mat-icon>plus_one</mat-icon>
        </button>

      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator> -->
</div>
